/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 1000 [id]
      ,[computer]
      ,[fname]
      ,[name]
      ,[sname]
      ,[department]
  FROM [otcenka].[dbo].[users]